.one {
  width: 500px;
  height: 500px;
  background-color: red;
}
.two {
  width: 500px;
  height: 500px;
  background-color: blue;
}
.three {
  width: 500px;
  height: 500px;
  background-color: green;
}
